/****************COLORS****************/
$black: #3a3a3a;
$yellow: #e9b528;
$grayLight: #f4f4f4;
$gray: #a3a3a3;
$white: #ffffff;

/****************FONTS FAMILY****************/
// Roboto

$principal_font: "Roboto", sans-serif;
/****************MEDIA QUERIES SIZE****************/
$mobile: 480px;
$tablet: 970px;
$desktop: 1024px;
$large_screens: 1201px;

/****************FONT WEIGHTS****************/
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
