/****************COLORS****************/
$yellow: #e9b528;
$black: #3a3a3a;
$gray: #f4f4f4;
$white: #ffffff;

/****************FONTS FAMILY****************/
// Roboto

$principal_font: "Roboto", sans-serif;
/****************MEDIA QUERIES SIZE****************/
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large_screens: 1201px;

/****************FONT WEIGHTS****************/
$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$weightblack: 900;
