.section.benefits {
  background-image: url("../img/bg section2.png");
  background-position: top;
  padding: 15.4rem 1rem 0 1rem;
  @include tablet() {
    padding: 20.4rem 3rem 4rem 3rem;
  }
  @media screen and (min-width: 140rem) {
    padding: 25.4rem 1rem 5.2rem 1rem;
  }
  .benefits-content {
    max-width: 1194px;
    margin: 0 auto;
    .benefit {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin: auto;
      margin-bottom: 9.1rem;
      max-width: 60rem; // Res
      @include tablet() {
        max-width: 100%; // Res
      }
      @include tablet() {
        flex-direction: row;
      }
      &.benefit-manage,
      &.benefit-flexibility {
        flex-direction: column;
        @include tablet() {
          flex-direction: row-reverse;
        }
      }
      &:last-child {
        margin-bottom: 8.2rem;
      }
      .benefit-img {
        position: relative;
        z-index: 0;
        flex-basis: calc(50% - 5.8rem);
        border-radius: 5px 5px 0 0;
        box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.29);
        height: 100%;
        margin-bottom: 4rem;
        img {
          border-radius: 5px 5px 0 0;
          width: 60.941rem;
          height: 34.279rem;
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          width: 8rem;
          height: 9.3rem;
          background-image: url("/img/cube.png");
          background-size: cover;
          // display: none;
          // @include desktop() {
          //   display: block;
          // }
        }
        span {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 8rem;
            height: 9.3rem;
            background-image: url("/img/cube.png");
            background-size: cover;
          }
        }
        &.benefit-manage_img {
          &::before {
            top: -6.8rem;
            left: 2rem;
          }
          &::after {
            top: 2rem;
            left: 1rem;
          }
          span::before {
            top: -4.5rem;
            left: 10rem;
          }
          @media (min-width:1360px) {
            &::before {
              top: -6.8rem;
              left: -3rem;
            }
            &::after {
              top: 2rem;
              left: -4rem;
            }
            span::before {
              top: -4.5rem;
              left: 5rem;
            }
          }
        }
        &.benefit-access_img {
          &::before {
            bottom: -2rem;
            left: 0rem;
          }
          &::after {
            bottom: -9rem;
            left: 4rem;
          }
          span::before {
            bottom: -16rem;
            left: 8rem;
          }
          @media (min-width:1360px) {
            &::before {
              bottom: -2rem;
              left: -5rem;
            }
            &::after {
              bottom: -9rem;
              left: -1rem;
            }
            span::before {
              bottom: -16rem;
              left: 3rem;
            }
          }
        }
        &.benefit-flexibility_img {
          &::before {
            top: -9rem;
            right: 0rem;
          }
          &::after {
            top: -2rem;
            right: 4.1rem;
          }
          span::before {
            top: -2rem;
            right: 12rem;
          }
          @media (min-width:1360px) {
            &::before {
              top: -9rem;
              right: -7rem;
            }
            &::after {
              top: -2rem;
              right: -2.9rem;
            }
            span::before {
              top: -2rem;
              right: 5rem;
            }
          }
        }
        .benefit-link {
          position: absolute;
          width: 100%;
          bottom: -6.5rem;
          height: 6.5rem;
          background: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.29);
          border-radius: 0 0 5px 5px;
          a {
            font-size: 2.2rem;
            font-weight: $light;
            line-height: 3.6rem;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              background-image: url("/img/zoom up icon.png");
              background-size: cover;
              display: inline-block;
              width: 3.309rem;
              height: 3.309rem;
              bottom: 0;
              left: -5.009rem;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
      .benefit-text {
        flex-basis: calc(50%);
        margin-top: 4rem;
        @include tablet() {
          margin-top: 0;
        }
        h4 {
          line-height: 4.4rem;
          font-weight: $regular;
          color: $gray;
          font-size: 2.2rem;
          @include tablet() {
            font-size: 2.3rem;
          }
          @include desktop() {
            font-size: 2.4rem;
          }
        }
        h2 {
          line-height: 6.4rem;
          font-weight: $medium;
          color: $black;
          margin-bottom: 2rem;
          font-size: 3.2rem;
          @include tablet() {
            font-size: 4.2rem;
          }
          @include desktop() {
            font-size: 4.8rem;
          }
          @include large_screens() {
            font-size: 5.2rem;
          }
        }
        p,
        ul > li {
          font-size: 2.2rem;
          line-height: 3.6rem;
          font-weight: $light;
          color: $black;
        }
        ul {
          li {
            padding-left: 2rem;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              background-image: url("/img/chevron - pfeil.png");
              background-repeat: no-repeat;
              width: 1.119rem;
              height: 1.748rem;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
        p,
        h2,
        h4 {
          text-align: center;
          @include tablet() {
            text-align: left;
          }
        }
        p:first-of-type {
          margin-bottom: 1.7rem;
        }
      }
    }
  }
}
