.section.benefits {
  background-image: url("../img/bg section2.png");
  background-position: top;
  padding: 15.4rem 1rem 0 1rem;
  @include tablet() {
    padding: 20.4rem 1rem 4rem 1rem;
  }
  @media screen and (min-width: 140rem) {
    padding: 25.4rem 1rem 5.2rem 1rem;
  }
  .benefits-content {
    max-width: 1194px;
    margin: 0 auto;
    .benefit {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin: auto;
      margin-bottom: 9.1rem;
      max-width: 60rem; // Res
      @include tablet() {
        max-width: 100%; // Res
      }
      @include tablet() {
        flex-direction: row;
      }
      &.benefit-manage,
      &.benefit-flexibility {
        flex-direction: column;
        @include tablet() {
          flex-direction: row-reverse;
        }
      }
      &:last-child {
        margin-bottom: 8.2rem;
      }
      .benefit-img {
        flex-basis: calc(50% - 5.8rem);
        max-width: 60.941rem;
        max-height: 34.279rem;
        position: relative;
        border-radius: 5px;
        box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.29);
        &.benefit-access_img {
          overflow: hidden;
          height: 41.079rem;
        }
        .benefit-link {
          position: absolute;
          width: 100%;
          bottom: 0;
          height: 6.8rem;
          background: $white;
          a {
            font-size: 2.2rem;
            font-weight: $light;
            line-height: 3.6rem;
            position: relative;
            display: table;
            margin: 0 auto;
            margin-top: 2.3rem;
            &:before {
              content: "";
              position: absolute;
              background-image: url("/img/zoom up icon.png");
              background-size: cover;
              display: inline-block;
              width: 3.309rem;
              height: 3.309rem;
              bottom: 0;
              left: -5.009rem;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
      .benefit-text {
        flex-basis: calc(50%);
        margin-top: 4rem;
        @include tablet() {
          margin-top: 0;
        }
        h4 {
          line-height: 4.4rem;
          font-weight: $regular;
          color: $gray;
          font-size: 2.2rem;
          @include tablet() {
            font-size: 2.3rem;
          }
          @include desktop() {
            font-size: 2.4rem;
          }
        }
        h2 {
          line-height: 6.4rem;
          font-weight: $medium;
          color: $black;
          margin-bottom: 4.3rem;
          font-size: 3.2rem;
          @include tablet() {
            font-size: 4.2rem;
          }
          @include desktop() {
            font-size: 5.2rem;
          }
          @include tablet() {
            font-size: 4.2rem;
          }
          @include desktop() {
            font-size: 5.2rem;
          }
        }
        p,
        ul > li {
          font-size: 2.2rem;
          line-height: 3.6rem;
          font-weight: $light;
          color: $black;
        }
        ul {
          li {
            padding-left: 2rem;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              background-image: url("/img/chevron - pfeil.png");
              background-repeat: no-repeat;
              width: 1.119rem;
              height: 1.748rem;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
        p,
        h2,
        h4 {
          text-align: center;
          @include tablet() {
            text-align: left;
          }
        }
      }
    }
  }
}
