.section.faq {
  max-width: 78.6rem;
  margin: 0 auto;
  .faq-header {
    margin-bottom: 6.8rem;
    h4 {
      font-weight: $regular;
      color: $gray;
      margin-bottom: 2.5rem;
      font-size: 2.2rem;
      @include tablet() {
        font-size: 2.3rem;
      }
      @include desktop() {
        font-size: 2.4rem;
      }
    }
    h2 {
      font-weight: $medium;
      color: $black;
      font-size: 3.2rem;
      @include tablet() {
        font-size: 4.2rem;
      }
      @include desktop() {
        font-size: 5.2rem;
      }
    }
  }
  .faq-content {
    .faq {
      box-shadow: 0px 15px 26.46px 0.54px rgba(0, 0, 0, 0.06);
      margin-bottom: 2.6rem;
      @include tablet() {
        margin-bottom: 5.2rem;
      }
      padding: 2.6rem 5.1rem 2.9rem 4.1rem;
      h4,
      p {
        color: $black;
      }
      h4 {
        font-size: 2.4rem;
        font-weight: $regular;
        margin-bottom: 2.9rem;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          background-image: url("/img/chevron - pfeil yellow.png");
          background-repeat: no-repeat;
          background-size: contain;
          width: 1.5rem;
          height: 1.5rem;
          top: 50%;
          right: 0;
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transition: 0.3s all ease-in-out;
          transform-origin: center;
          -ms-transform-origin: center;
        }
        &.active {
          &::before {
            transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
          }
        }
        &::after {
          content: "";
          position: absolute;
          border-bottom: 1px solid $gray;
          width: 90%;
          height: 1.5rem;
          bottom: -20%;
          @include tablet() {
            bottom: -50%;
          }
          right: 0;
        }
      }
      p {
        font-size: 2rem;
        line-height: 2.8rem;
        transition: opacity 1s ease-out;
        opacity: 0;
        height: 0;
        overflow: hidden;
        &.active {
          opacity: 1;
          height: auto;
        }
      }
    }
  }
}
