header.header-wrapper {
  margin-bottom: 12.6rem;
  .header-content {
    display: flex;
    justify-content: col;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 9.7rem;
    position: relative;
    .header-content_title {
      font-size: 6.418rem;
      font-weight: $bold;
      color: $black;
      margin-bottom: 4.3rem;
      span {
        display: block;
      }
    }
    .header-content_subtitle {
      font-size: 3.552rem;
      font-weight: $light;
      margin-bottom: 6.6rem;
      margin-top: 0;
      text-align: center;
      span {
        display: block;
      }
    }
    .header-content_btns {
      margin-bottom: 9.5rem;
      a {
        color: $white;
        font-size: 2.2rem;
        font-weight: $regular;
        padding: 1.5rem 1.6rem 2rem 2rem;
        border-radius: 5px;
        line-height: 2.557rem;
        &:first-child {
          background-color: $yellow;
          margin-right: 4.1rem;
        }
        &:last-child {
          background-color: transparent;
          color: $black;
          outline: 2px solid $yellow;
          opacity: 75%;
        }
      }
    }
    .header-content_span {
      font-size: 2.4rem;
      font-weight: $regular;
      color: $black;
      line-height: 4.4rem;
    }
    .header-content_collab {
      display: flex;
      align-items: center;
      .collab-bbraun_logo {
        margin-right: 7.1rem;
        max-height: 3.8rem;
        max-width: 15.8rem;
      }
      .collab-magicline_logo {
        margin-right: 7.3rem;
        max-height: 4.296rem;
        max-width: 21.399rem;
      }
      .collab-neusta_logo {
        margin-right: 6rem;
        max-height: 4.3rem;
        max-width: 14.6rem;
      }
      .collab-biltong_logo {
        margin-right: 6.1rem;
        max-height: 7.7rem;
        max-width: 10.6rem;
      }
    }
    .header-content_bg {
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
    }
    .header-content-bgside1 {
      background-image: url("../img/Vektor-Smartobjekt Kopie.png");
      background-position: top right;
      right: 0;
    }
    .header-content-bgside2 {
      background-image: url("../img/Vektor-Smartobjekt.png");
      background-position: top left;
      right: 0;
    }
  }
}
