.navbar {
  background-color: $black;
  height: 10rem;
  &.navbar-mobile {
    display: none;
  }
  .navbar-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    @media screen and (min-width: 1356px) {
      padding: 0;
    }
    .navbar-home-link {
      a {
        .svg-container {
          position: relative;
          height: 5.332rem;
          width: 26.198rem;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          .micromerce-logo {
            position: absolute;
          }
        }
      }
    }
    .list-horizontal {
      display: none;
      @include mobile(){
        display: block;
      }
      li {
        a.list-horizontal_btn {
          text-align: center;
          background-color: $yellow;
          font-size: 1.5rem;
          font-size: 2.2rem;
          color: $white;
          padding: 1.4rem 1.5rem 1.8rem 1.8rem;
          border-radius: 5px;
        }
      }
    }
  }
}
