doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Micromerce LP
  body
    nav.navbar.navbar-desktop
      .navbar-content.container
        .navbar-home-link
          a.link(href="index.html")
            .svg-container
              svg#micromerce-logo(class="micromerce-logo" version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 500 500' style='enable-background:new 0 0 500 500;' xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#ffffff;}
                  .st1{fill:#FFDE00;}
                  .st2{fill:#F1B300;}
                  .st3{fill:#C70027;}
                  .st4{fill:#FD4083;}
                  .st5{fill:#C0A0D0;}
                  .st6{fill:#6F4DA1;}
                  .st7{fill:#F55A23;}
                  .st8{fill:#FF9A1B;}
                  .st9{fill:#279C4A;}
                  .st10{fill:#A5CD37;}
                  .st11{fill:#2496D6;}
                  .st12{fill:#68D1F8;}
                  .st13{fill:#ffffff;}
                polygon.st0(points='131.4,266.5 131.4,217.9 133.2,217.9 154.5,249.3 175.7,217.9 177.5,217.9 177.5,266.5 173.5,266.5 \
                173.5,227.8 155,255.3 154,255.3 135.4,227.9 135.4,266.5 ')
                path.st0(d='M190.2,222.9c0-1.9,1.5-3.4,3.5-3.4c1.9,0,3.4,1.5,3.4,3.4c0,1.9-1.5,3.4-3.4,3.4\
                C191.8,226.3,190.2,224.8,190.2,222.9 M195.6,267.8h-4v-35.9h4V267.8z')
                path.st0(d='M208.3,263.3c-3.4-3.6-5.2-8-5.2-13.5c0-5.5,1.7-10,5.2-13.5c3.5-3.6,8-5.3,13.5-5.3c7,0,13.3,3.6,16,9.2\
                l-3.3,1.9c-2.4-4.6-7.3-7.4-12.7-7.4c-4.2,0-7.8,1.4-10.5,4.3c-2.7,2.8-4.2,6.4-4.2,10.9c0,4.4,1.3,8,4,10.8\
                c2.7,2.8,6.1,4.2,10.2,4.2c5.4,0,10.6-3.1,12.9-7.4l3.3,2c-1.4,2.8-3.6,5-6.6,6.6c-2.9,1.7-6.2,2.5-9.6,2.5\
                C216.1,268.6,211.7,266.8,208.3,263.3')
                path.st0(d='M244,267.8v-35.9h3.8v5.8c1.9-4.5,5.4-6.7,10.4-6.7c1.4,0,2.9,0.2,4.4,0.6l-0.5,3.8c-1.3-0.4-2.5-0.6-3.8-0.6\
                c-6.5,0-10.3,5.1-10.3,12.5v20.4H244z')
                path.st0(d='M267.7,236.5c3.6-3.6,8-5.4,13.3-5.4c5.4,0,9.8,1.8,13.3,5.4c3.6,3.6,5.3,8,5.3,13.3c0,5.3-1.7,9.8-5.3,13.4\
                c-3.5,3.6-8,5.4-13.3,5.4c-5.4,0-9.8-1.8-13.3-5.4c-3.5-3.6-5.3-8.1-5.3-13.4C262.4,244.5,264.2,240.1,267.7,236.5 M291.5,260.6\
                c2.7-2.9,4.2-6.6,4.2-10.8c0-4.2-1.4-7.8-4.2-10.7c-2.7-2.9-6.2-4.4-10.4-4.4c-4.2,0-7.6,1.5-10.5,4.4c-2.7,2.9-4.1,6.4-4.1,10.7\
                c0,4.2,1.4,7.8,4.1,10.8c2.8,2.9,6.3,4.4,10.5,4.4C285.3,265,288.8,263.5,291.5,260.6')
                path.st0(d='M356.4,234.8c2.6,2.5,3.9,6.1,3.9,10.7v22.3h-4v-22c0-6.9-3.9-11.1-9.8-11.1c-2.8,0-5.4,1-7.6,2.9\
                c-2.2,1.9-3.3,4.8-3.3,8.6v21.4h-4v-21.5c0-7-3.8-11.5-9.8-11.5c-2.9,0-5.5,1.1-7.7,3.2c-2.2,2.1-3.3,5.4-3.3,9.7v20.2h-4v-35.9h4v6\
                c1.9-4.4,6.2-7,11.3-7c5.2,0,9.7,2.7,11.7,7.8c2.2-5,7.3-7.8,12.9-7.8C350.6,231,353.9,232.3,356.4,234.8')
                path.st0(d='M401.3,251.4h-30.1c0.6,8,5.8,13.4,14.5,13.4c4.6,0,9.9-1.7,13.1-4.3l1.9,3.1c-3.5,2.7-9.2,5-15.1,5\
                c-13.2,0-18.6-9.4-18.6-18.8c0-5.4,1.6-9.9,4.9-13.4c3.3-3.6,7.6-5.3,12.9-5.3c4.8,0,8.8,1.5,11.9,4.7c3.1,3.1,4.8,7.2,4.8,12.5\
                C401.5,248.7,401.4,249.8,401.3,251.4 M371.1,247.7h26.2c-0.1-8-5.2-13-12.5-13C377.3,234.7,371.9,239.9,371.1,247.7')
                path.st0(d='M408.4,267.8v-35.9h3.8v5.8c1.9-4.5,5.4-6.7,10.4-6.7c1.4,0,2.9,0.2,4.4,0.6l-0.5,3.8c-1.3-0.4-2.5-0.6-3.8-0.6\
                c-6.5,0-10.3,5.1-10.3,12.5v20.4H408.4z')
                path.st0(d='M432.2,263.3c-3.4-3.6-5.2-8-5.2-13.5c0-5.5,1.7-10,5.2-13.5c3.6-3.6,8-5.3,13.5-5.3c7,0,13.3,3.6,16,9.2\
                l-3.3,1.9c-2.4-4.6-7.3-7.4-12.7-7.4c-4.2,0-7.8,1.4-10.5,4.3c-2.7,2.8-4.2,6.4-4.2,10.9c0,4.4,1.3,8,4,10.8\
                c2.7,2.8,6.1,4.2,10.2,4.2c5.4,0,10.6-3.1,12.9-7.4l3.3,2c-1.4,2.8-3.6,5-6.6,6.6c-2.9,1.7-6.2,2.5-9.6,2.5\
                C440,268.6,435.6,266.8,432.2,263.3')
                path.st0(d='M499.8,251.4h-30.1c0.6,8,5.8,13.4,14.5,13.4c4.6,0,9.9-1.7,13.1-4.3l1.9,3.1c-3.5,2.7-9.2,5-15.1,5\
                c-13.2,0-18.6-9.4-18.6-18.8c0-5.4,1.6-9.9,4.9-13.4c3.3-3.6,7.6-5.3,12.9-5.3c4.8,0,8.8,1.5,11.9,4.7c3.1,3.1,4.8,7.2,4.8,12.5\
                C500,248.7,499.9,249.8,499.8,251.4 M469.7,247.7h26.2c-0.1-8-5.2-13-12.5-13C475.8,234.7,470.5,239.9,469.7,247.7')
                polygon.st1(points='15.9,208.6 31.7,199.5 31.7,217.8 15.9,227 ')
                polygon.st2(points='31.7,217.8 31.7,199.5 47.6,208.6 47.6,227 ')
                polygon.st3(points='31.7,272.8 31.7,254.5 15.9,263.7 15.9,282 ')
                polygon.st4(points='47.6,282 31.7,272.8 15.9,282 31.7,291.2 ')
                polygon.st5(points='47.6,282 63.4,291.2 63.4,272.8 47.6,263.7 ')
                polygon.st6(points='63.4,272.8 63.4,291.2 79.3,282 79.3,263.7 ')
                polygon.st7(points='15.9,245.3 15.9,263.7 0,254.5 0,236.2 ')
                polygon.st8(points='31.7,236.2 15.9,245.3 0,236.2 15.9,227 ')
                polygon.st9(points='79.3,227 63.4,236.1 63.4,217.8 79.3,208.6 ')
                polygon.st10(points='79.3,208.6 63.4,217.8 47.6,208.6 63.4,199.4 ')
                polygon.st11(points='95.2,236.1 79.3,227 79.3,245.3 95.2,254.5 ')
                polygon.st12(points='95.2,254.5 79.3,245.3 63.4,254.5 79.3,263.6 ')
                g
                  path.st13(d='M292.7,300.7c-1.1,0-2-0.3-2.8-0.9c-0.8-0.6-1.4-1.4-1.7-2.4c-0.4-1-0.5-2.1-0.4-3.3l0-0.4\
                  c0.1-1.3,0.5-2.4,1.1-3.6c0.6-1.1,1.4-2,2.4-2.6c1-0.6,2-0.9,3.1-0.9c1,0,1.9,0.3,2.6,0.8c0.7,0.5,1.2,1.3,1.5,2.2\
                  c0.3,1,0.4,2,0.3,3.2l-0.1,0.9h-9.4l0,0.3c-0.1,0.9-0.1,1.8,0.2,2.6c0.3,0.8,0.7,1.5,1.3,2c0.6,0.5,1.3,0.7,2.1,0.8\
                  c0.8,0,1.5-0.1,2.2-0.5c0.6-0.3,1.2-0.8,1.8-1.3l0.9,0.7c-0.6,0.8-1.3,1.4-2.2,1.8C294.6,300.6,293.7,300.8,292.7,300.7z\
                  M294.3,288c-1.1,0-2.1,0.3-2.9,1.2c-0.9,0.8-1.5,1.9-1.9,3.4l7.9,0l0-0.2c0.2-1.2-0.1-2.2-0.6-3.1\
                  C296.1,288.5,295.3,288,294.3,288z')
                  path.st13(d='M303,300.5h-1.5l3.3-19.2h1.5L303,300.5z')
                  path.st13(d='M313.4,300.7c-1.1,0-2-0.3-2.8-0.9c-0.8-0.6-1.4-1.4-1.7-2.4c-0.4-1-0.5-2.1-0.4-3.3l0-0.4\
                  c0.1-1.3,0.5-2.4,1.1-3.6c0.6-1.1,1.4-2,2.4-2.6c1-0.6,2-0.9,3.1-0.9c1,0,1.9,0.3,2.6,0.8c0.7,0.5,1.2,1.3,1.5,2.2\
                  c0.3,1,0.4,2,0.3,3.2l-0.1,0.9H310l0,0.3c-0.1,0.9-0.1,1.8,0.2,2.6c0.3,0.8,0.7,1.5,1.3,2c0.6,0.5,1.3,0.7,2.1,0.8\
                  c0.8,0,1.5-0.1,2.2-0.5c0.6-0.3,1.2-0.8,1.8-1.3l0.9,0.7c-0.6,0.8-1.3,1.4-2.2,1.8C315.3,300.6,314.4,300.8,313.4,300.7z M315,288\
                  c-1.1,0-2.1,0.3-2.9,1.2c-0.9,0.8-1.5,1.9-1.9,3.4l7.9,0l0-0.2c0.2-1.2-0.1-2.2-0.6-3.1C316.8,288.5,316,288,315,288z')
                  path.st13(d='M325.7,287l-0.4,2.2c1.2-1.7,2.8-2.5,4.6-2.5c1,0,1.7,0.3,2.4,0.7c0.6,0.5,1,1.1,1.2,1.9\
                  c0.6-0.8,1.3-1.5,2.2-2c0.8-0.5,1.7-0.7,2.7-0.7c1.3,0,2.2,0.4,2.9,1.3c0.6,0.8,0.9,2,0.8,3.4l0,0.3l-1.5,8.8h-1.5l1.5-8.8\
                  c0-0.5,0.1-1,0-1.4c-0.2-1.5-1-2.2-2.5-2.3c-1,0-2,0.3-2.8,1c-0.9,0.7-1.4,1.5-1.6,2.5l-1.6,9h-1.5l1.5-9c0.2-2.3-0.6-3.5-2.5-3.5\
                  c-1,0-1.9,0.3-2.7,0.9c-0.8,0.6-1.4,1.4-1.7,2.3l-1.6,9.3h-1.5l2.4-13.5H325.7z')
                  path.st13(d='M350.6,300.7c-1.1,0-2-0.3-2.8-0.9c-0.8-0.6-1.4-1.4-1.7-2.4c-0.4-1-0.5-2.1-0.4-3.3l0-0.4\
                  c0.1-1.3,0.5-2.4,1.1-3.6c0.6-1.1,1.4-2,2.4-2.6c1-0.6,2-0.9,3.1-0.9c1,0,1.9,0.3,2.6,0.8c0.7,0.5,1.2,1.3,1.5,2.2\
                  c0.3,1,0.4,2,0.3,3.2l-0.1,0.9h-9.4l0,0.3c-0.1,0.9-0.1,1.8,0.2,2.6c0.3,0.8,0.7,1.5,1.3,2c0.6,0.5,1.3,0.7,2.1,0.8\
                  c0.8,0,1.5-0.1,2.2-0.5c0.6-0.3,1.2-0.8,1.8-1.3l0.9,0.7c-0.6,0.8-1.3,1.4-2.2,1.8C352.5,300.6,351.6,300.8,350.6,300.7z\
                  M352.2,288c-1.1,0-2.1,0.3-2.9,1.2c-0.9,0.8-1.5,1.9-1.9,3.4l7.9,0l0-0.2c0.2-1.2-0.1-2.2-0.6-3.1C354,288.5,353.2,288,352.2,288z\
                  ')
                  path.st13(d='M363,287l-0.5,2.3c0.6-0.8,1.3-1.5,2.1-1.9c0.8-0.4,1.6-0.7,2.5-0.6c1.3,0,2.2,0.5,2.8,1.4\
                  c0.6,0.9,0.8,2.1,0.6,3.6l-1.5,8.8h-1.5l1.5-8.8c0-0.5,0.1-0.9,0-1.4c-0.1-1.5-1-2.2-2.4-2.3c-0.9,0-1.7,0.2-2.5,0.8\
                  c-0.8,0.5-1.4,1.3-2,2.4l-1.6,9.3h-1.5l2.4-13.5H363z')
                  path.st13(d='M379.3,283.5l-0.6,3.5h2.7l-0.2,1.2h-2.7l-1.5,9l0,0.8c0,0.9,0.4,1.4,1.3,1.4c0.3,0,0.7,0,1.2-0.1l-0.1,1.2\
                  c-0.5,0.1-1,0.2-1.5,0.2c-0.9,0-1.5-0.3-1.9-0.9c-0.4-0.6-0.5-1.5-0.4-2.6l1.5-9h-2.4l0.2-1.2h2.4l0.6-3.5H379.3z')
                  path.st13(d='M391.6,300.5c0-0.3-0.1-0.6,0-1l0.1-0.9c-0.6,0.7-1.3,1.2-2.1,1.6c-0.8,0.4-1.7,0.6-2.6,0.6\
                  c-1.1,0-2.1-0.4-2.8-1.1c-0.7-0.7-1-1.6-1-2.7c0.1-0.9,0.4-1.7,0.9-2.3c0.5-0.7,1.3-1.2,2.3-1.5c1-0.4,2.1-0.5,3.4-0.5l2.8,0\
                  l0.2-1.6c0.1-0.9-0.1-1.7-0.6-2.2c-0.5-0.6-1.2-0.9-2.2-0.9c-1,0-1.8,0.2-2.6,0.7c-0.7,0.5-1.2,1.2-1.4,2h-1.5\
                  c0.2-1.2,0.8-2.2,1.8-2.9c1.1-0.7,2.3-1.1,3.7-1.1c1.4,0,2.5,0.5,3.2,1.3c0.8,0.8,1.1,1.9,0.9,3.2l-1.1,6.8L393,299\
                  c0,0.5,0,0.9,0.1,1.3l0,0.1H391.6z M387.1,299.4c0.9,0,1.8-0.2,2.6-0.7c0.8-0.5,1.5-1.1,2.1-2l0.5-3l-2.4,0c-1.5,0-2.8,0.3-3.7,0.8\
                  c-1,0.5-1.5,1.3-1.6,2.3c-0.1,0.7,0.1,1.3,0.6,1.8C385.7,299.2,386.3,299.4,387.1,299.4z')
                  path.st13(d='M405.8,288.2c-0.3-0.1-0.7-0.1-1-0.1c-1,0-1.8,0.3-2.6,0.9c-0.8,0.6-1.3,1.3-1.6,2.2l-1.6,9.3h-1.5l2.4-13.5\
                  h1.5l-0.5,2.2c0.5-0.8,1.1-1.4,1.8-1.8c0.7-0.4,1.5-0.6,2.3-0.6c0.3,0,0.6,0.1,1,0.2L405.8,288.2z')
                  path.st13(d='M419.6,300.7c-1.1,0-2-0.3-2.8-0.9c-0.8-0.6-1.4-1.4-1.7-2.4c-0.4-1-0.5-2.1-0.4-3.3l0-0.4\
                  c0.1-1.3,0.5-2.4,1.1-3.6c0.6-1.1,1.4-2,2.4-2.6c1-0.6,2-0.9,3.1-0.9c1,0,1.9,0.3,2.6,0.8c0.7,0.5,1.2,1.3,1.5,2.2\
                  c0.3,1,0.4,2,0.3,3.2l-0.1,0.9h-9.4l0,0.3c-0.1,0.9-0.1,1.8,0.2,2.6c0.3,0.8,0.7,1.5,1.3,2c0.6,0.5,1.3,0.7,2.1,0.8\
                  c0.8,0,1.5-0.1,2.2-0.5s1.2-0.8,1.8-1.3l0.9,0.7c-0.6,0.8-1.3,1.4-2.2,1.8C421.5,300.6,420.6,300.8,419.6,300.7z M421.2,288\
                  c-1.1,0-2.1,0.3-2.9,1.2c-0.9,0.8-1.5,1.9-1.9,3.4l7.9,0l0-0.2c0.2-1.2-0.1-2.2-0.6-3.1C423,288.5,422.2,288,421.2,288z')
                  path.st13(d='M429.9,300.5h-1.5l2.4-13.5h1.5L429.9,300.5z M431.2,283c0-0.5,0.4-0.9,1.1-1c0.3,0.1,0.6,0.2,0.7,0.3\
                  c0.1,0.1,0.2,0.4,0.3,0.7c-0.1,0.3-0.2,0.5-0.4,0.7c-0.2,0.1-0.4,0.3-0.7,0.3C431.5,283.9,431.2,283.6,431.2,283z')
                  path.st13(d='M438.7,287l-0.5,2.3c0.6-0.8,1.3-1.5,2.1-1.9c0.8-0.4,1.6-0.7,2.5-0.6c1.3,0,2.2,0.5,2.8,1.4\
                  c0.6,0.9,0.8,2.1,0.6,3.6l-1.5,8.8h-1.5l1.5-8.8c0-0.5,0.1-0.9,0-1.4c-0.1-1.5-1-2.2-2.4-2.3c-0.9,0-1.7,0.2-2.5,0.8\
                  c-0.8,0.5-1.4,1.3-2,2.4l-1.6,9.3h-1.5l2.4-13.5H438.7z')
                  path.st13(d='M450.8,300.5l2.1-12.3h-2.2l0.2-1.2h2.2l0.3-1.8c0.2-1.3,0.7-2.4,1.5-3.1c0.8-0.7,1.8-1.1,3-1.1\
                  c0.5,0,1,0.1,1.6,0.3l-0.3,1.2c-0.5-0.1-0.9-0.2-1.3-0.2c-0.8,0-1.5,0.3-2.1,0.8s-0.9,1.3-1,2.3l-0.2,1.6h3.1l-0.2,1.2h-3.1\
                  l-2.1,12.3H450.8z')
                  path.st13(d='M467.5,300.5c0-0.3-0.1-0.6,0-1l0.1-0.9c-0.6,0.7-1.3,1.2-2.1,1.6c-0.8,0.4-1.7,0.6-2.6,0.6\
                  c-1.1,0-2.1-0.4-2.8-1.1c-0.7-0.7-1-1.6-1-2.7c0.1-0.9,0.4-1.7,0.9-2.3c0.5-0.7,1.3-1.2,2.3-1.5c1-0.4,2.1-0.5,3.4-0.5l2.8,0\
                  l0.2-1.6c0.1-0.9-0.1-1.7-0.6-2.2c-0.5-0.6-1.2-0.9-2.2-0.9c-1,0-1.8,0.2-2.6,0.7c-0.7,0.5-1.2,1.2-1.4,2h-1.5\
                  c0.2-1.2,0.8-2.2,1.8-2.9c1.1-0.7,2.3-1.1,3.7-1.1c1.4,0,2.5,0.5,3.2,1.3c0.8,0.8,1.1,1.9,0.9,3.2l-1.1,6.8L469,299\
                  c0,0.5,0,0.9,0.1,1.3l0,0.1H467.5z M463.1,299.4c0.9,0,1.8-0.2,2.6-0.7c0.8-0.5,1.5-1.1,2.1-2l0.5-3l-2.4,0c-1.5,0-2.8,0.3-3.7,0.8\
                  c-1,0.5-1.5,1.3-1.6,2.3c-0.1,0.7,0.1,1.3,0.6,1.8C461.7,299.2,462.3,299.4,463.1,299.4z')
                  path.st13(d='M478.8,299.5c1,0,1.9-0.2,2.6-0.8c0.8-0.6,1.3-1.4,1.5-2.3h1.4c-0.3,1.3-0.9,2.4-2,3.2\
                  c-1.1,0.8-2.3,1.2-3.6,1.2c-1.1,0-2-0.3-2.8-0.9c-0.7-0.6-1.3-1.4-1.6-2.4c-0.3-1-0.4-2.2-0.3-3.4l0.1-0.5c0.1-0.9,0.3-1.7,0.6-2.6\
                  c0.3-0.8,0.8-1.6,1.3-2.2c0.6-0.6,1.2-1.1,2-1.5c0.8-0.4,1.6-0.5,2.6-0.5c1.4,0,2.5,0.5,3.3,1.4c0.8,0.9,1.2,2,1.2,3.4l-1.4,0\
                  c0-1-0.3-1.9-0.8-2.5c-0.6-0.6-1.3-1-2.3-1c-1,0-1.9,0.3-2.7,0.9c-0.8,0.6-1.4,1.5-1.8,2.7c-0.4,1.2-0.6,2.4-0.6,3.7\
                  c0,1.3,0.3,2.4,0.9,3.1C476.9,299.1,477.7,299.5,478.8,299.5z')
                  path.st13(d='M490.8,289.2c1.3-1.7,2.8-2.6,4.6-2.5c1.3,0,2.2,0.5,2.8,1.4c0.6,0.9,0.8,2.1,0.6,3.6l-1.5,8.8h-1.5l1.5-8.8\
                  c0-0.5,0.1-0.9,0-1.4c-0.1-1.5-1-2.2-2.4-2.3c-0.9,0-1.7,0.2-2.5,0.8c-0.8,0.5-1.4,1.3-2,2.4l-1.6,9.3h-1.5l3.3-19.2h1.5\
                  L490.8,289.2z')
        ul.list-horizontal
          li 
            a.btn-demo.list-horizontal_btn(href="#overlay") Kostenlose Demo
    nav.navbar.navbar-mobile
      header.navbar-content
        a(href="#")
    .overlay#overlay
      .wrapper
        .close-btn X
        .popup
          .popup-content
            header 
              p Füllen Sie das untenstehende Formular aus und wir zeigen Ihnen in einer Demo 
                span.text-center das Potenzial von Micromerce.
            form.popup-form(action="")
              .form-field 
                fieldset 
                  label(for="vorname") Vorname
                  input#vorname.vorname(type="text")  
              .form-field 
                fieldset 
                  label(for="nachname") Nachname
                  input#nachname.nachname(type="text")  
              .form-field 
                fieldset 
                  label(for="email") E-Mail geschäftlich
                  input#email.email(type="email")
              .form-field
                fieldset 
                  label(for="tel") Telefonummer (Optional)
                  input#tel.tel(type="tel")
              .form-field
                fieldset 
                  legend Was sind Ihre größten Herausforderungen?
                  label Anpassung der Systeme nach eigenen Vorstellungen 
                    input#cbox1.cbox1(type="checkbox")
                  label Verwaltung der Kursteilnehmer und Lehrer
                    input#cbox2.cbox2(type="checkbox")
                  label Keine der genannten 
                    input#cbox3.cbox3(type="checkbox")
                  p Bitte senden Sie mir gelegenheitlich E-Mails zu Produkten und Updates von Micromerce. (Die E-Mails können Sie jederzeit abgestellen.)
                  div.labels
                    label Ja
                      input#cbox4.cbox4(type="checkbox")
                    label Nein 
                      input#cbox5.cbox5(type="checkbox")
              input.input-submit(type="submit" value="Jetzt ansehen")
    header.header-wrapper 
      .header-soid
        .header-content
          h1.header-content_title Die Lösung für Seminarverwaltung
            span und Bildungsmanagement
          p.header-content_subtitle Garantiert einfache Integration und Anpassung
            span nach Ihren Bedürfnissen
          .header-content_btns
            a(href="#") Mehr erfahren
              img(src="../img/btn-chevron-right.png")
            a.btn-demo(href="#overlay") Kostenlose Demo
          .header-content_span Uns vertrauen
          .header-content_collab
            .collab-logo.collab-bbraun_logo
              img(src="img/bbraun-bw.png" alt="bbraun logo")
            .collab-logo.collab-magicline_logo
              img(src="img/magicline-bw.png" alt="magicline logo")
            .collab-logo.collab-neusta_logo
              img(src="img/neusta-bw.png" alt="neusta logo")
            .collab-logo.collab-biltong_logo
              img(src="img/biltong-bw.png" alt="biltong logo")
            .collab-logo.collab-pilot_logo
              img(src="img/pilot-bw.png" alt="pilot logo")
          .header-content_bg.header-content-bgside1
          .header-content_bg.header-content-bgside2
    section.section.inconveniences
      header.inconveniences.header
        h4.text-left.inconveniences_subtitle Wir haben die Lösungen
        h2.text-left.inconveniences_title Die Herausforderungen von 
          span Seminar-Anbietern und  
          span Bildungseinrichtungen
      .inconvenciences-container 
        .inconveniences-item
          .inconveniences-item_icon
            img(src="../img/icon_02.01.svg" alt="Abhängigkeit von veralteten Systemen")
          .inconveniences-item_text
            h4.text-left Abhängigkeit von veralteten Systemen  
            p Was als kleine Lösung gestartet ist, entwickelt sich oftmals zu einem undurchsichtigen Frankenstein Konstrukt wo keiner mehr den Überblick hat. Entsprechend besteht die Angst das bei einem Wechsel nichts mehr funktioniert.
        .inconveniences-item
          .inconveniences-item_icon
            img(src="../img/icon_02.02.svg" alt="Differenzierung vom Markt")
          .inconveniences-item_text
            h4.text-left Differenzierung vom Markt 
            p Die meisten Seminar-Anbieter arbeiten mit den gleichen Plattformen. Darunter leidet die Einzigartikeit und es fällt schwer sich vom Markt zu differenzieren und den Kunden von sich zu überzeugen.
        .inconveniences-item
          .inconveniences-item_icon
            img(src="../img/icon_02.03.svg" alt="Fehlende Übersichtund unklare Abläufe")
          .inconveniences-item_text
            h4.text-left Fehlende Übersichtund unklare Abläufe  
            p Welche Kurse hat der Teilnemer in den letzten zwei Jahren besucht? Welcher Trainer führt nur Online-Schulungen durch? Oftmals fehlt es an Übersichten die einfach und schnell alle wichtigen Daten präsentieren.
    section.section.benefits 
      .benefits-content 
        .benefit.benefit-manage 
          .benefit-img.benefit-manage_img
            span
            img(src="img/Entity Service.gif")
            .benefit-link.benefit-manage_link
              a.text-center(href="#") Entity Service
          .benefit-text.benefit-manage_text
            h4.text-left Nach Ihren Bedürfnissen angepasst
            h2.text-left Verwalten Sie effizient Ihre Seminare
            p Erhalten Sie einen digitalen Ort für all Ihre Kurse und Schulungsmaterialien. Ob Live-Trainings via Teams & Zoom oder Präsenzveranstaltung.
            p Wir gehen auf Ihre Wünsche und Bedürfnisse ein und liefern Ihnen eine erweiterbare Verwaltung. Für eine einfache Organisation Ihrer Seminare. Flüssige Bedienung und auch für mobile Endgeräte optimiert.
        .benefit.benefit-access
          .benefit-img.benefit-access_img
            span
            img(src="img/Solution Service.gif")
            .benefit-link.benefit-access_link
              a.text-center(href="#") Solution Service
          .benefit-text.benefit-access_text
            h4.text-left Einfacher Zugriff und Überblick 
            h2.text-left Alle Bildungsdiens&shy;leistungen zentralisiert
            p Unsere Softwarelösung ist wie ein Baukasten erweiterbar und bildet z.B. folgende Kategorien ab:
            ul 
              li Mitgliederverwaltung
              li Kursbuchungen & Termine
              li Durchführung der Veranstaltung (Präsenz / E-Learning)
              li Einfach Übertragung an Ihr Buchhaltungssystem
        .benefit.benefit-flexibility
          .benefit-img.benefit-flexibility_img
            span
            img(src="img/Uberblick Services.gif")
            .benefit-link.benefit-flexibility_link
              a.text-center(href="#") Services Überblick
          .benefit-text.benefit-flexibility_text
            h4.text-left Wir setzen schnell und flexibel Ihre Wünsche um
            h2.text-left Profitieren Sie von unserer Beweglichkeit
            p Die aktuellen Zeiten haben besonders gezeigt, wie wichtig es ist auf den Markt zu reagieren Wir konnten zahlreichen Unternehmen bei dem Ausbau und Erweiterung Ihre Systeme helfen. Durch unsere optimierten Prozesse und modularen Bausteine sind wir in der Lage schnell und agil die Wünsche unser Kunden umzusetzen.
    section.section.register
      .register-content
        h2 Jetzt mehr erfahren 
        p.text-center Melden Sie sich für eine kostenlose Demo an (30 Min.) und erfahren Sie wie Sie Ihre Seminar Prozesse einfach abbilden können.
        .register-btn
          a.btn-demo(href="#overlay") Demo vereinbaren
    section.section.save-time 
      header
        h2 Drei Beispiele um Zeit einzusparen
        p Folgende Szenarieren werden mit am häufigsten eingesetzt. Durch die automatisierten Abläufe sparen unsere Kunden Zeit und wertvolle Mitarbeiter Ressourcen.  
      .save-time_content 
        .save-time_card
          .card-img 
            img(src="img/icon_03.01.svg")
          .card-text 
            h4  Veranstaltungen planen 
            ul 
              li Workflows für den Versand von Seminarunterlagen 
              li Praktische Planungsfunktionen für Mitarbeiter 
              li Zentraler Zugriff für alle Mitarbeiter und Dozenten
        .save-time_card 
          .card-img 
            img(src="img/icon_03.02.svg") 
          .card-text 
            h4  Veranstaltungen planen 
            ul 
              li von Dozenten, Teilnehmern und Kontakten 
              li von Schulungsbedarf der Teilnehmer 
              li von Räumlichkeiten und Ressourcen
        .save-time_card 
          .card-img 
            img(src="img/icon_03.03.svg") 
          .card-text 
            h4  Veranstaltungen planen 
            ul 
              li Informationen über die Kursauslastung 
              li Automatisierte Erstellung von Teilnehmerzertifikaten 
              li Budgetmanagement auf der Grundlage definierter Prozesse
    section.section.testimonials 
      .testimonial 
        .testimonial-img 
          img.img-perso1(src="/img/img.jpg")
          img.img-perso2(src="/img/img.jpg")
          img.img-perso3(src="/img/img.jpg")
        .testimonial-text
          .testimonial-text_persons
            .testimonial-text_perso.testimonial-text_perso1 
              h2.text-left Wir sind begeistert von der flexibilität...
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              h4.text-left.testimonial-text_name Julia Bornhausen
              h4.text-left.testimonial-text_company Geschäftsführerin, MyBrand
            .testimonial-text_perso.testimonial-text_perso1 
              h2.text-left Wir sind begeistert von der flexibilität...
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              h4.text-left.testimonial-text_name Julia Bornhausen 2
              h4.text-left.testimonial-text_company Geschäftsführerin, MyBrand 2
            .testimonial-text_perso.testimonial-text_perso1 
              h2.text-left Wir sind begeistert von der flexibilität...
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              h4.text-left.testimonial-text_name Julia Bornhausen 3
              h4.text-left.testimonial-text_company Geschäftsführerin, MyBrand 3
          .testimonial-text_btns 
            .testimonial-btn.btn-left
              img(src="/img/btn-chevron-left.png")
            .testimonial-btn.btn-right.active
              img(src="/img/btn-chevron-right.png")
    section.section.faq 
      header.faq-header 
        h4 Wir haben die Antwort
        h2 Häufig gestellte Fragen
      .faq-content
        .faq.faq-1
          h4.text-left.faq_question.faq-1_question Kann ich meine Kurse flexibel an die Lehrer anpassen?
          p.faq-1_answer Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
        .faq.faq-2
          h4.text-left.faq_question.faq-2_question Kann ich meine Kurse flexibel an die Lehrer anpassen?
          p.faq-2_answer Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
        .faq.faq-3
          h4.text-left.faq_question.faq-3_question Kann ich meine Kurse flexibel an die Lehrer anpassen?
          p.faq-3_answer Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
    section.section.oursolution
      .oursolution-content
        h2 Bereit unsere Lösung kennenzulernen? 
        p.text-center Melden Sie sich für eine kostenlosen Zugang an (30 Min.) und erfahren Sie wie Sie Ihre  Seminar Prozesse einfach abbilden können.
        .oursolution-btn
          a(href="") Demo vereinbaren    
    footer.footer
      nav.navbar.navbar-desktop
        .navbar-content.container
          .navbar-home-link
            a.link(href="index.html") 
              .svg-container
                svg#micromerce-logo(class="micromerce-logo" version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 500 500' style='enable-background:new 0 0 500 500;' xml:space='preserve')
                  style(type='text/css').
                    .st0{fill:#ffffff;}
                    .st1{fill:#FFDE00;}
                    .st2{fill:#F1B300;}
                    .st3{fill:#C70027;}
                    .st4{fill:#FD4083;}
                    .st5{fill:#C0A0D0;}
                    .st6{fill:#6F4DA1;}
                    .st7{fill:#F55A23;}
                    .st8{fill:#FF9A1B;}
                    .st9{fill:#279C4A;}
                    .st10{fill:#A5CD37;}
                    .st11{fill:#2496D6;}
                    .st12{fill:#68D1F8;}
                    .st13{fill:#ffffff;}
                  polygon.st0(points='131.4,266.5 131.4,217.9 133.2,217.9 154.5,249.3 175.7,217.9 177.5,217.9 177.5,266.5 173.5,266.5 \
                  173.5,227.8 155,255.3 154,255.3 135.4,227.9 135.4,266.5 ')
                  path.st0(d='M190.2,222.9c0-1.9,1.5-3.4,3.5-3.4c1.9,0,3.4,1.5,3.4,3.4c0,1.9-1.5,3.4-3.4,3.4\
                  C191.8,226.3,190.2,224.8,190.2,222.9 M195.6,267.8h-4v-35.9h4V267.8z')
                  path.st0(d='M208.3,263.3c-3.4-3.6-5.2-8-5.2-13.5c0-5.5,1.7-10,5.2-13.5c3.5-3.6,8-5.3,13.5-5.3c7,0,13.3,3.6,16,9.2\
                  l-3.3,1.9c-2.4-4.6-7.3-7.4-12.7-7.4c-4.2,0-7.8,1.4-10.5,4.3c-2.7,2.8-4.2,6.4-4.2,10.9c0,4.4,1.3,8,4,10.8\
                  c2.7,2.8,6.1,4.2,10.2,4.2c5.4,0,10.6-3.1,12.9-7.4l3.3,2c-1.4,2.8-3.6,5-6.6,6.6c-2.9,1.7-6.2,2.5-9.6,2.5\
                  C216.1,268.6,211.7,266.8,208.3,263.3')
                  path.st0(d='M244,267.8v-35.9h3.8v5.8c1.9-4.5,5.4-6.7,10.4-6.7c1.4,0,2.9,0.2,4.4,0.6l-0.5,3.8c-1.3-0.4-2.5-0.6-3.8-0.6\
                  c-6.5,0-10.3,5.1-10.3,12.5v20.4H244z')
                  path.st0(d='M267.7,236.5c3.6-3.6,8-5.4,13.3-5.4c5.4,0,9.8,1.8,13.3,5.4c3.6,3.6,5.3,8,5.3,13.3c0,5.3-1.7,9.8-5.3,13.4\
                  c-3.5,3.6-8,5.4-13.3,5.4c-5.4,0-9.8-1.8-13.3-5.4c-3.5-3.6-5.3-8.1-5.3-13.4C262.4,244.5,264.2,240.1,267.7,236.5 M291.5,260.6\
                  c2.7-2.9,4.2-6.6,4.2-10.8c0-4.2-1.4-7.8-4.2-10.7c-2.7-2.9-6.2-4.4-10.4-4.4c-4.2,0-7.6,1.5-10.5,4.4c-2.7,2.9-4.1,6.4-4.1,10.7\
                  c0,4.2,1.4,7.8,4.1,10.8c2.8,2.9,6.3,4.4,10.5,4.4C285.3,265,288.8,263.5,291.5,260.6')
                  path.st0(d='M356.4,234.8c2.6,2.5,3.9,6.1,3.9,10.7v22.3h-4v-22c0-6.9-3.9-11.1-9.8-11.1c-2.8,0-5.4,1-7.6,2.9\
                  c-2.2,1.9-3.3,4.8-3.3,8.6v21.4h-4v-21.5c0-7-3.8-11.5-9.8-11.5c-2.9,0-5.5,1.1-7.7,3.2c-2.2,2.1-3.3,5.4-3.3,9.7v20.2h-4v-35.9h4v6\
                  c1.9-4.4,6.2-7,11.3-7c5.2,0,9.7,2.7,11.7,7.8c2.2-5,7.3-7.8,12.9-7.8C350.6,231,353.9,232.3,356.4,234.8')
                  path.st0(d='M401.3,251.4h-30.1c0.6,8,5.8,13.4,14.5,13.4c4.6,0,9.9-1.7,13.1-4.3l1.9,3.1c-3.5,2.7-9.2,5-15.1,5\
                  c-13.2,0-18.6-9.4-18.6-18.8c0-5.4,1.6-9.9,4.9-13.4c3.3-3.6,7.6-5.3,12.9-5.3c4.8,0,8.8,1.5,11.9,4.7c3.1,3.1,4.8,7.2,4.8,12.5\
                  C401.5,248.7,401.4,249.8,401.3,251.4 M371.1,247.7h26.2c-0.1-8-5.2-13-12.5-13C377.3,234.7,371.9,239.9,371.1,247.7')
                  path.st0(d='M408.4,267.8v-35.9h3.8v5.8c1.9-4.5,5.4-6.7,10.4-6.7c1.4,0,2.9,0.2,4.4,0.6l-0.5,3.8c-1.3-0.4-2.5-0.6-3.8-0.6\
                  c-6.5,0-10.3,5.1-10.3,12.5v20.4H408.4z')
                  path.st0(d='M432.2,263.3c-3.4-3.6-5.2-8-5.2-13.5c0-5.5,1.7-10,5.2-13.5c3.6-3.6,8-5.3,13.5-5.3c7,0,13.3,3.6,16,9.2\
                  l-3.3,1.9c-2.4-4.6-7.3-7.4-12.7-7.4c-4.2,0-7.8,1.4-10.5,4.3c-2.7,2.8-4.2,6.4-4.2,10.9c0,4.4,1.3,8,4,10.8\
                  c2.7,2.8,6.1,4.2,10.2,4.2c5.4,0,10.6-3.1,12.9-7.4l3.3,2c-1.4,2.8-3.6,5-6.6,6.6c-2.9,1.7-6.2,2.5-9.6,2.5\
                  C440,268.6,435.6,266.8,432.2,263.3')
                  path.st0(d='M499.8,251.4h-30.1c0.6,8,5.8,13.4,14.5,13.4c4.6,0,9.9-1.7,13.1-4.3l1.9,3.1c-3.5,2.7-9.2,5-15.1,5\
                  c-13.2,0-18.6-9.4-18.6-18.8c0-5.4,1.6-9.9,4.9-13.4c3.3-3.6,7.6-5.3,12.9-5.3c4.8,0,8.8,1.5,11.9,4.7c3.1,3.1,4.8,7.2,4.8,12.5\
                  C500,248.7,499.9,249.8,499.8,251.4 M469.7,247.7h26.2c-0.1-8-5.2-13-12.5-13C475.8,234.7,470.5,239.9,469.7,247.7')
                  polygon.st1(points='15.9,208.6 31.7,199.5 31.7,217.8 15.9,227 ')
                  polygon.st2(points='31.7,217.8 31.7,199.5 47.6,208.6 47.6,227 ')
                  polygon.st3(points='31.7,272.8 31.7,254.5 15.9,263.7 15.9,282 ')
                  polygon.st4(points='47.6,282 31.7,272.8 15.9,282 31.7,291.2 ')
                  polygon.st5(points='47.6,282 63.4,291.2 63.4,272.8 47.6,263.7 ')
                  polygon.st6(points='63.4,272.8 63.4,291.2 79.3,282 79.3,263.7 ')
                  polygon.st7(points='15.9,245.3 15.9,263.7 0,254.5 0,236.2 ')
                  polygon.st8(points='31.7,236.2 15.9,245.3 0,236.2 15.9,227 ')
                  polygon.st9(points='79.3,227 63.4,236.1 63.4,217.8 79.3,208.6 ')
                  polygon.st10(points='79.3,208.6 63.4,217.8 47.6,208.6 63.4,199.4 ')
                  polygon.st11(points='95.2,236.1 79.3,227 79.3,245.3 95.2,254.5 ')
                  polygon.st12(points='95.2,254.5 79.3,245.3 63.4,254.5 79.3,263.6 ')
                  g
                    path.st13(d='M292.7,300.7c-1.1,0-2-0.3-2.8-0.9c-0.8-0.6-1.4-1.4-1.7-2.4c-0.4-1-0.5-2.1-0.4-3.3l0-0.4\
                    c0.1-1.3,0.5-2.4,1.1-3.6c0.6-1.1,1.4-2,2.4-2.6c1-0.6,2-0.9,3.1-0.9c1,0,1.9,0.3,2.6,0.8c0.7,0.5,1.2,1.3,1.5,2.2\
                    c0.3,1,0.4,2,0.3,3.2l-0.1,0.9h-9.4l0,0.3c-0.1,0.9-0.1,1.8,0.2,2.6c0.3,0.8,0.7,1.5,1.3,2c0.6,0.5,1.3,0.7,2.1,0.8\
                    c0.8,0,1.5-0.1,2.2-0.5c0.6-0.3,1.2-0.8,1.8-1.3l0.9,0.7c-0.6,0.8-1.3,1.4-2.2,1.8C294.6,300.6,293.7,300.8,292.7,300.7z\
                    M294.3,288c-1.1,0-2.1,0.3-2.9,1.2c-0.9,0.8-1.5,1.9-1.9,3.4l7.9,0l0-0.2c0.2-1.2-0.1-2.2-0.6-3.1\
                    C296.1,288.5,295.3,288,294.3,288z')
                    path.st13(d='M303,300.5h-1.5l3.3-19.2h1.5L303,300.5z')
                    path.st13(d='M313.4,300.7c-1.1,0-2-0.3-2.8-0.9c-0.8-0.6-1.4-1.4-1.7-2.4c-0.4-1-0.5-2.1-0.4-3.3l0-0.4\
                    c0.1-1.3,0.5-2.4,1.1-3.6c0.6-1.1,1.4-2,2.4-2.6c1-0.6,2-0.9,3.1-0.9c1,0,1.9,0.3,2.6,0.8c0.7,0.5,1.2,1.3,1.5,2.2\
                    c0.3,1,0.4,2,0.3,3.2l-0.1,0.9H310l0,0.3c-0.1,0.9-0.1,1.8,0.2,2.6c0.3,0.8,0.7,1.5,1.3,2c0.6,0.5,1.3,0.7,2.1,0.8\
                    c0.8,0,1.5-0.1,2.2-0.5c0.6-0.3,1.2-0.8,1.8-1.3l0.9,0.7c-0.6,0.8-1.3,1.4-2.2,1.8C315.3,300.6,314.4,300.8,313.4,300.7z M315,288\
                    c-1.1,0-2.1,0.3-2.9,1.2c-0.9,0.8-1.5,1.9-1.9,3.4l7.9,0l0-0.2c0.2-1.2-0.1-2.2-0.6-3.1C316.8,288.5,316,288,315,288z')
                    path.st13(d='M325.7,287l-0.4,2.2c1.2-1.7,2.8-2.5,4.6-2.5c1,0,1.7,0.3,2.4,0.7c0.6,0.5,1,1.1,1.2,1.9\
                    c0.6-0.8,1.3-1.5,2.2-2c0.8-0.5,1.7-0.7,2.7-0.7c1.3,0,2.2,0.4,2.9,1.3c0.6,0.8,0.9,2,0.8,3.4l0,0.3l-1.5,8.8h-1.5l1.5-8.8\
                    c0-0.5,0.1-1,0-1.4c-0.2-1.5-1-2.2-2.5-2.3c-1,0-2,0.3-2.8,1c-0.9,0.7-1.4,1.5-1.6,2.5l-1.6,9h-1.5l1.5-9c0.2-2.3-0.6-3.5-2.5-3.5\
                    c-1,0-1.9,0.3-2.7,0.9c-0.8,0.6-1.4,1.4-1.7,2.3l-1.6,9.3h-1.5l2.4-13.5H325.7z')
                    path.st13(d='M350.6,300.7c-1.1,0-2-0.3-2.8-0.9c-0.8-0.6-1.4-1.4-1.7-2.4c-0.4-1-0.5-2.1-0.4-3.3l0-0.4\
                    c0.1-1.3,0.5-2.4,1.1-3.6c0.6-1.1,1.4-2,2.4-2.6c1-0.6,2-0.9,3.1-0.9c1,0,1.9,0.3,2.6,0.8c0.7,0.5,1.2,1.3,1.5,2.2\
                    c0.3,1,0.4,2,0.3,3.2l-0.1,0.9h-9.4l0,0.3c-0.1,0.9-0.1,1.8,0.2,2.6c0.3,0.8,0.7,1.5,1.3,2c0.6,0.5,1.3,0.7,2.1,0.8\
                    c0.8,0,1.5-0.1,2.2-0.5c0.6-0.3,1.2-0.8,1.8-1.3l0.9,0.7c-0.6,0.8-1.3,1.4-2.2,1.8C352.5,300.6,351.6,300.8,350.6,300.7z\
                    M352.2,288c-1.1,0-2.1,0.3-2.9,1.2c-0.9,0.8-1.5,1.9-1.9,3.4l7.9,0l0-0.2c0.2-1.2-0.1-2.2-0.6-3.1C354,288.5,353.2,288,352.2,288z\
                    ')
                    path.st13(d='M363,287l-0.5,2.3c0.6-0.8,1.3-1.5,2.1-1.9c0.8-0.4,1.6-0.7,2.5-0.6c1.3,0,2.2,0.5,2.8,1.4\
                    c0.6,0.9,0.8,2.1,0.6,3.6l-1.5,8.8h-1.5l1.5-8.8c0-0.5,0.1-0.9,0-1.4c-0.1-1.5-1-2.2-2.4-2.3c-0.9,0-1.7,0.2-2.5,0.8\
                    c-0.8,0.5-1.4,1.3-2,2.4l-1.6,9.3h-1.5l2.4-13.5H363z')
                    path.st13(d='M379.3,283.5l-0.6,3.5h2.7l-0.2,1.2h-2.7l-1.5,9l0,0.8c0,0.9,0.4,1.4,1.3,1.4c0.3,0,0.7,0,1.2-0.1l-0.1,1.2\
                    c-0.5,0.1-1,0.2-1.5,0.2c-0.9,0-1.5-0.3-1.9-0.9c-0.4-0.6-0.5-1.5-0.4-2.6l1.5-9h-2.4l0.2-1.2h2.4l0.6-3.5H379.3z')
                    path.st13(d='M391.6,300.5c0-0.3-0.1-0.6,0-1l0.1-0.9c-0.6,0.7-1.3,1.2-2.1,1.6c-0.8,0.4-1.7,0.6-2.6,0.6\
                    c-1.1,0-2.1-0.4-2.8-1.1c-0.7-0.7-1-1.6-1-2.7c0.1-0.9,0.4-1.7,0.9-2.3c0.5-0.7,1.3-1.2,2.3-1.5c1-0.4,2.1-0.5,3.4-0.5l2.8,0\
                    l0.2-1.6c0.1-0.9-0.1-1.7-0.6-2.2c-0.5-0.6-1.2-0.9-2.2-0.9c-1,0-1.8,0.2-2.6,0.7c-0.7,0.5-1.2,1.2-1.4,2h-1.5\
                    c0.2-1.2,0.8-2.2,1.8-2.9c1.1-0.7,2.3-1.1,3.7-1.1c1.4,0,2.5,0.5,3.2,1.3c0.8,0.8,1.1,1.9,0.9,3.2l-1.1,6.8L393,299\
                    c0,0.5,0,0.9,0.1,1.3l0,0.1H391.6z M387.1,299.4c0.9,0,1.8-0.2,2.6-0.7c0.8-0.5,1.5-1.1,2.1-2l0.5-3l-2.4,0c-1.5,0-2.8,0.3-3.7,0.8\
                    c-1,0.5-1.5,1.3-1.6,2.3c-0.1,0.7,0.1,1.3,0.6,1.8C385.7,299.2,386.3,299.4,387.1,299.4z')
                    path.st13(d='M405.8,288.2c-0.3-0.1-0.7-0.1-1-0.1c-1,0-1.8,0.3-2.6,0.9c-0.8,0.6-1.3,1.3-1.6,2.2l-1.6,9.3h-1.5l2.4-13.5\
                    h1.5l-0.5,2.2c0.5-0.8,1.1-1.4,1.8-1.8c0.7-0.4,1.5-0.6,2.3-0.6c0.3,0,0.6,0.1,1,0.2L405.8,288.2z')
                    path.st13(d='M419.6,300.7c-1.1,0-2-0.3-2.8-0.9c-0.8-0.6-1.4-1.4-1.7-2.4c-0.4-1-0.5-2.1-0.4-3.3l0-0.4\
                    c0.1-1.3,0.5-2.4,1.1-3.6c0.6-1.1,1.4-2,2.4-2.6c1-0.6,2-0.9,3.1-0.9c1,0,1.9,0.3,2.6,0.8c0.7,0.5,1.2,1.3,1.5,2.2\
                    c0.3,1,0.4,2,0.3,3.2l-0.1,0.9h-9.4l0,0.3c-0.1,0.9-0.1,1.8,0.2,2.6c0.3,0.8,0.7,1.5,1.3,2c0.6,0.5,1.3,0.7,2.1,0.8\
                    c0.8,0,1.5-0.1,2.2-0.5s1.2-0.8,1.8-1.3l0.9,0.7c-0.6,0.8-1.3,1.4-2.2,1.8C421.5,300.6,420.6,300.8,419.6,300.7z M421.2,288\
                    c-1.1,0-2.1,0.3-2.9,1.2c-0.9,0.8-1.5,1.9-1.9,3.4l7.9,0l0-0.2c0.2-1.2-0.1-2.2-0.6-3.1C423,288.5,422.2,288,421.2,288z')
                    path.st13(d='M429.9,300.5h-1.5l2.4-13.5h1.5L429.9,300.5z M431.2,283c0-0.5,0.4-0.9,1.1-1c0.3,0.1,0.6,0.2,0.7,0.3\
                    c0.1,0.1,0.2,0.4,0.3,0.7c-0.1,0.3-0.2,0.5-0.4,0.7c-0.2,0.1-0.4,0.3-0.7,0.3C431.5,283.9,431.2,283.6,431.2,283z')
                    path.st13(d='M438.7,287l-0.5,2.3c0.6-0.8,1.3-1.5,2.1-1.9c0.8-0.4,1.6-0.7,2.5-0.6c1.3,0,2.2,0.5,2.8,1.4\
                    c0.6,0.9,0.8,2.1,0.6,3.6l-1.5,8.8h-1.5l1.5-8.8c0-0.5,0.1-0.9,0-1.4c-0.1-1.5-1-2.2-2.4-2.3c-0.9,0-1.7,0.2-2.5,0.8\
                    c-0.8,0.5-1.4,1.3-2,2.4l-1.6,9.3h-1.5l2.4-13.5H438.7z')
                    path.st13(d='M450.8,300.5l2.1-12.3h-2.2l0.2-1.2h2.2l0.3-1.8c0.2-1.3,0.7-2.4,1.5-3.1c0.8-0.7,1.8-1.1,3-1.1\
                    c0.5,0,1,0.1,1.6,0.3l-0.3,1.2c-0.5-0.1-0.9-0.2-1.3-0.2c-0.8,0-1.5,0.3-2.1,0.8s-0.9,1.3-1,2.3l-0.2,1.6h3.1l-0.2,1.2h-3.1\
                    l-2.1,12.3H450.8z')
                    path.st13(d='M467.5,300.5c0-0.3-0.1-0.6,0-1l0.1-0.9c-0.6,0.7-1.3,1.2-2.1,1.6c-0.8,0.4-1.7,0.6-2.6,0.6\
                    c-1.1,0-2.1-0.4-2.8-1.1c-0.7-0.7-1-1.6-1-2.7c0.1-0.9,0.4-1.7,0.9-2.3c0.5-0.7,1.3-1.2,2.3-1.5c1-0.4,2.1-0.5,3.4-0.5l2.8,0\
                    l0.2-1.6c0.1-0.9-0.1-1.7-0.6-2.2c-0.5-0.6-1.2-0.9-2.2-0.9c-1,0-1.8,0.2-2.6,0.7c-0.7,0.5-1.2,1.2-1.4,2h-1.5\
                    c0.2-1.2,0.8-2.2,1.8-2.9c1.1-0.7,2.3-1.1,3.7-1.1c1.4,0,2.5,0.5,3.2,1.3c0.8,0.8,1.1,1.9,0.9,3.2l-1.1,6.8L469,299\
                    c0,0.5,0,0.9,0.1,1.3l0,0.1H467.5z M463.1,299.4c0.9,0,1.8-0.2,2.6-0.7c0.8-0.5,1.5-1.1,2.1-2l0.5-3l-2.4,0c-1.5,0-2.8,0.3-3.7,0.8\
                    c-1,0.5-1.5,1.3-1.6,2.3c-0.1,0.7,0.1,1.3,0.6,1.8C461.7,299.2,462.3,299.4,463.1,299.4z')
                    path.st13(d='M478.8,299.5c1,0,1.9-0.2,2.6-0.8c0.8-0.6,1.3-1.4,1.5-2.3h1.4c-0.3,1.3-0.9,2.4-2,3.2\
                    c-1.1,0.8-2.3,1.2-3.6,1.2c-1.1,0-2-0.3-2.8-0.9c-0.7-0.6-1.3-1.4-1.6-2.4c-0.3-1-0.4-2.2-0.3-3.4l0.1-0.5c0.1-0.9,0.3-1.7,0.6-2.6\
                    c0.3-0.8,0.8-1.6,1.3-2.2c0.6-0.6,1.2-1.1,2-1.5c0.8-0.4,1.6-0.5,2.6-0.5c1.4,0,2.5,0.5,3.3,1.4c0.8,0.9,1.2,2,1.2,3.4l-1.4,0\
                    c0-1-0.3-1.9-0.8-2.5c-0.6-0.6-1.3-1-2.3-1c-1,0-1.9,0.3-2.7,0.9c-0.8,0.6-1.4,1.5-1.8,2.7c-0.4,1.2-0.6,2.4-0.6,3.7\
                    c0,1.3,0.3,2.4,0.9,3.1C476.9,299.1,477.7,299.5,478.8,299.5z')
                    path.st13(d='M490.8,289.2c1.3-1.7,2.8-2.6,4.6-2.5c1.3,0,2.2,0.5,2.8,1.4c0.6,0.9,0.8,2.1,0.6,3.6l-1.5,8.8h-1.5l1.5-8.8\
                    c0-0.5,0.1-0.9,0-1.4c-0.1-1.5-1-2.2-2.4-2.3c-0.9,0-1.7,0.2-2.5,0.8c-0.8,0.5-1.4,1.3-2,2.4l-1.6,9.3h-1.5l3.3-19.2h1.5\
                    L490.8,289.2z')

          ul.list-horizontal_footer
            li 
              a(href="#" class="link_footer") list-horizontal
            li
              a(href="#" class="link_footer") AGB       
            li
              a(href="#" class="link_footer") Datenschutzrichtlinie      


